<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Available Bus Routes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body class="min-h-screen">

    <%- include('partials/navbar') %>

        <div class="relative w-full overflow-hidden h-[500px] mt-2">
            <div id="carousel" class="flex transition-transform duration-700 ease-in-out w-full h-full">
                <div class="min-w-full h-full bg-cover bg-center relative flex flex-col items-center justify-center text-white text-4xl font-bold"
                    style="background-image: url('/bus.jpg');">
                    <span class="p-10 mb-5 rounded text-white title">Your Journey, Our Priority</span>
                    <p class="m-1 p-3 sub-title rounded text-center text-2xl mt-0 p-10 ">
                        Experience hassle-free booking and on-time departures—every trip, every time.</p>
                </div>
                <div class="min-w-full h-full bg-cover bg-center relative flex flex-col items-center justify-center text-white text-4xl font-bold"
                    style="background-image: url('/bus1.jpg');">
                    <span class="p-10 mb-5 rounded text-white title">Ride Smart. Ride Easy</span>
                    <p class="m-1 p-3 sub-title rounded text-center text-2xl mt-0 p-10 ">
                        Plan, book, and ride with just a few clicks—bus travel made simple.</p>
                </div>
                <div class="min-w-full h-full bg-cover bg-center relative flex flex-col items-center justify-center text-white text-4xl font-bold"
                    style="background-image: url('/bus2.jpg');">
                    <span class="p-10 mb-5 rounded text-white title">Seamless Bus Travel, Every Time</span>
                    <p class="m-1 p-3 sub-title rounded text-center text-2xl mt-0 p-10 ">
                        From search to seat, we handle the details so you can relax.</p>
                </div>
                <div class="min-w-full h-full bg-cover bg-center relative flex flex-col items-center justify-center text-white text-4xl font-bold"
                    style="background-image: url('/bus3.jpg');">
                    <span class="p-10 mb-5 rounded text-white title">Fast, Safe, and Reliable Rides</span>
                    <p class="m-1 p-3 sub-title rounded text-center text-2xl mt-0 p-10 ">
                        Trust us to get you there with comfort, care, and punctuality.</p>
                </div>
                <div class="min-w-full h-full bg-cover bg-center relative flex flex-col items-center justify-center text-white text-4xl font-bold"
                    style="background-image: url('/bus4.jpg');">
                    <span class="p-10 mb-5 rounded text-white title">Book with Ease. Travel in Peace</span>
                    <p class="m-1 p-3 sub-title rounded text-center text-2xl mt-0 p-10 ">
                        A smoother way to travel—secure seats, no surprises.</p>
                </div>
            </div>

            <button onclick="prevSlide()"
                class="absolute left-5 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 hover:bg-opacity-80 px-3 py-2 rounded-full shadow-md text-2xl font-bold">
                ‹
            </button>
            <button onclick="nextSlide()"
                class="absolute right-5 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 hover:bg-opacity-80 px-3 py-2 rounded-full shadow-md text-2xl font-bold">
                ›
            </button>
        </div>

        <section>
            <div class="break w-full pt-5 pb-15">
                <div class="text-2xl font-semibold text-center">Top Search <span class="text-red-500">Routes</span>
                </div>
            </div>


            <% if (routes.length> 0) { %>
                <div class="my-4 mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-8">
                    <% routes.forEach(route=> { %>
                        <div class="p-4 border border-gray-300 rounded-lg shadow bg-white">
                            <% if (session && session.role=='admin' ) { %>
                                <form action="/admin/deleteroute/<%= route._id %>" method="get" class="float-right">
                                    <button type="submit" title="Delete Bus"
                                        class="text-red-600 hover:text-red-800 text-lg">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </form>
                                <% } %>
                                    <ul>
                                        <div class="flex inline-block w-full justify-between items-center mb-2">
                                            <div class="flex justify-between items-center">
                                                <p class="text-gray-700 text-sm">From:</p>
                                                <p
                                                    class="border border-gray-300 rounded px-3 inline-block text-gray-700">
                                                    <%= route.km %> KM
                                                </p>
                                                <p class="text-gray-700 text-sm">To:</p>

                                            </div>
                                            <div class="flex justify-between items-center mb-2">
                                                <span class="font-semibold">
                                                    <%= route.origin %>
                                                </span>
                                                <p><i class="bi bi-geo-alt text-red-500 text-lg"></i>
                                                    ---------------------
                                                    <i class="bi bi-flag text-red-500 text-lg"></i>
                                                </p>
                                                <span class="font-semibold">
                                                    <%= route.destination %>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex justify-between items-center mb-2 text-gray-700">
                                            <div class="flex gap-2 items-center">
                                                wifi <i class="bi bi-wifi"></i>
                                                Display <i class="bi bi-display"></i>
                                                <%= route.busType %> <i class="bi bi-bus-front"></i>
                                            </div>
                                            <p class="text-sm">
                                                <%= route.startingTime %> - <%= route.arrivingTime %>
                                            </p>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <p class="font-bold text-lg">$ <%= route.price %>
                                            </p>
                                            <a href="/book/<%= route._id %>"
                                                class="bg-red-500 text-white px-6 py-2 rounded hover:scale-105 transition duration-300 text-sm">Reserve
                                                Seat</a>
                                        </div>
                                    </ul>
                        </div>
                        <% }) %>
                </div>
                <% } else { %>
                    <p class="text-center text-gray-600 p-5">No routes available at the moment.</p>
                    <% } %>
        </section>
        <section class="m-2">
            <div class="text-center p-5 m-5 pb-0 text-4xl"><b>Book Your Bus Ticket with Us</b></div>
            <div class="rounded-xl sub-section p-10 mx-10 gap-10 flex flex-col">
                <div class="px-5 text-xl">Who doesn’t love exploring places by road? The captivating landscapes that
                    are seen on
                    both sides of the bus are the sites to behold. Travelers who love to explore places by road can
                    choose online bus booking at `Kelal Guzo` and also save huge money. Why would you go out and
                    look
                    for
                    a travel agency to book a tour bus when you can do it by yourself? It takes less than a minute to
                    book a bus ticket at `Kelal Guzo`. The simple interface, easy navigation, and fast speed of the
                    portal
                    allow you to book a bus to your favorite destination within a few seconds.</div>
            </div>
            <div class="mx-10 text-4xl">
                <p class="text-4xl m-5 my-8"><b>Why book with us?</b></p>
                <section>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6 bg-gray-100 text-center">

                        <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                            <i class="bi bi-ticket-detailed text-blue-600 text-4xl mb-4"></i>
                            <h3 class="text-xl font-semibold mb-2">Lowest Ticket Charges</h3>
                            <p class="text-gray-600 text-sm">Grab huge discounts and cashbacks on your bus booking with
                                EaseMyTrip.</p>
                        </div>

                        <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                            <i class="bi bi-person-fill-gear text-green-600 text-4xl mb-4"></i>
                            <h3 class="text-xl font-semibold mb-2">3999+ Bus Operators</h3>
                            <p class="text-gray-600 text-sm">Leverage our partnerships with over 3999 bus operators for
                                a hassle-free journey.</p>
                        </div>

                        <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                            <i class="bi bi-journal-richtext text-yellow-500 text-4xl mb-4"></i>
                            <h3 class="text-xl font-semibold mb-2">Seamless Booking</h3>
                            <p class="text-gray-600 text-sm">Our user-friendly platform makes it easy for customers to
                                book their bus tickets.</p>
                        </div>

                        <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                            <i class="bi bi-shield-check text-red-500 text-4xl mb-4"></i>
                            <h3 class="text-xl font-semibold mb-2">Trusted by 20K+ Users</h3>
                            <p class="text-gray-600 text-sm">20K+ users have trusted and enjoyed our seamless bus
                                booking service.</p>
                        </div>

                    </div>
                </section>
            </div>
        </section>
        <section>
            <p class="p-10 text-3xl text-center"><b>Our Carriers</b></p>
            <div>
                <div
                    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-6 p-6 bg-gray-50 text-center">

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6Mw_logo_175107"
                                alt="Abay Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Abay Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTc_logo_876203"
                                alt="Africa Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Africa Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTI_logo_762241"
                                alt="Air Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Air Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTU_logo_531964"
                                alt="Alpha Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Alpha Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTk_logo_742188"
                                alt="Buna Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Buna Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6NA_logo_999091"
                                alt="Ethio Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Ethio Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTY_logo_716013"
                                alt="FM Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">FM Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTM_logo_105159"
                                alt="Ghion Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Ghion Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6NQ_logo_542223"
                                alt="Golden Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Golden Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6Ng_logo_964531"
                                alt="Habesha Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Habesha Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTQ_logo_603841"
                                alt="Noah Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Noah Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MTE_logo_84608"
                                alt="Odaa Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Odaa Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6MQ_logo_6100"
                                alt="Selam Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Selam Bus</p>
                    </div>
                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6Nw_logo_491979"
                                alt="Walya Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Walya Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6OA_logo_750289"
                                alt="Yegna Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Yegna Bus</p>
                    </div>

                    <div class="flex flex-col carriers items-center">
                        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
                            <img src="https://guzo.s3.amazonaws.com/carrier_Q2Fycmllck5vZGU6Mg_logo_677684"
                                alt="Zemen Bus" class="w-full h-full object-cover">
                        </div>
                        <p class="mt-2 font-medium text-sm">Zemen Bus</p>
                    </div>

                </div>

            </div>
        </section>

        <%- include('partials/footer') %>

            <script>
                let index = 0;
                const carousel = document.getElementById('carousel');
                const totalSlides = carousel.children.length;

                function updateSlide() {
                    carousel.style.transform = `translateX(-${index * 100}%)`;
                }

                function nextSlide() {
                    index = (index + 1) % totalSlides;
                    updateSlide();
                }

                function prevSlide() {
                    index = (index - 1 + totalSlides) % totalSlides;
                    updateSlide();
                }

                setInterval(nextSlide, 3000);
            </script>
</body>

</html>